<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Counter</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- <link href="css/style.css" rel="stylesheet"> -->
    </head>
    
    <!-- <script>
    $(document).ready(function(){
        $('form').submit(function(){
        return false;
        });

    });
    </script> -->

    <body>
        <h1>Counter</h1>
        <h3>{{session['count']}} times</h3>
          <!-- <form method="post" action="/counter">
             <input type="hidden" name="page_visit" value="1"> 
        </form>   -->
        <form method="post" action="/counter">
        <button type="submit" name="page_visit" value="1">Increment by 2</button>
        </form>
        <form method="post" action="/counter">
        <button type="submit" name="page_visit" value="0">Reset</button>
        </form>
    
    </body>
</html>